<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to <<name>></title>

    <!-- styles -->

    {% style "/css/screen.css" %}
  </head>
  <body>
      <!-- navbar -->
      <nav>
      </nav>

      <section>
      </section>

    <!-- scripts -->

    <% if servlet %><script type="text/javascript">
      var context = "{{servlet-context}}";
    </script><% endif %>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
