<!DOCTYPE HTML>
<html>
    <head>
        <title>Welcome to {{name}}</title>
        <link href="#%context%#/css/screen.css" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
    	{% block navbar %}
        <div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li>
							<a href="#%context%#/">Home</a>
						</li>
						<li>
							<a href="#%context%#/about">About</a>
						</li>
					</ul>
					<ul class="nav pull-right">
						{% if user %}
						<li>
							<form action="/logout" class="navbar-form" method="POST">
        						<input class="btn" type="submit" value="Logout"></input>
		          			</form>
		          		</li>
                        {% else %}                        
						<li>
						    <form action="{{context}}/login" class="navbar-form" method="POST">
                                <input class="span2" id="id" name="id" placeholder="user id" style="margin-right: 5px" type="text"></input>
                                <input class="span2" id="pass" name="pass" placeholder="password" style="margin-right: 5px" type="password"></input>
                                <input class="btn" type="submit" value="Login"></input>
                            </form>

						</li>
						<li>
							<a href="#%context%#/register">Register</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
        {% endblock %}
        <div class="container">
        <h1>Welcome to {{name}}</h1>
        {% block content %}{% endblock %}
        </div>
        <footer>Copyright ...</footer>
    </body>
</html>
