<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="XmlConfig">
    <Appenders>
        <RollingFile name="File"
                     fileName="./log/<<name>>.log"
                     filePattern="./log/<<name>>-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="[%d][%p][%c] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.xnio.nio" level="warn" /><% if relational-db %>
        <Logger name="com.zaxxer.hikari" level="warn" /><% endif %><% if cucumber-feature-paths %>
        <Logger name="com.mchange" level="warn" /><% endif %><% ifequal server "jetty" %>
        <Logger name="org.eclipse.jetty" level="warn" /><% endifequal %><% ifequal server "aleph" %>
        <Logger name="io.netty" level="warn" /><% endifequal %>
        <Root level="info">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
