<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/<<name>>.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/<<name>>.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg %n</pattern>
        </encoder>
    </appender>
    <logger name="org.xnio.nio" level="warn">
        <AppenderRef ref="FILE"/>
    </logger><% if relational-db %>
    <logger name="com.zaxxer.hikari" level="warn">
        <AppenderRef ref="FILE"/>
    </logger><% endif %><% if cucumber-feature-paths %>
    <logger name="com.mchange" level="warn">
        <AppenderRef ref="FILE"/>
    </logger><% endif %><% ifequal server "jetty" %>
    <logger name="org.eclipse.jetty" level="warn">
        <AppenderRef ref="FILE"/>
    </logger><% endifequal %><% ifequal server "aleph" %>
    <logger name="io.netty" level="warn">
        <AppenderRef ref="FILE"/>
    </logger><% endifequal %>
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>
