body {
    background-color: #fff;
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#register {
    float: left;
    display: inline-block;
}

h1 {
    background-color: #444;
    color: #eee;
}

.nav li {
    float: left;
    list-style: none;
    padding: 5px;
}

.navbar {
    text-align: right;
    padding: 5px;
    margin-bottom: 10px;
}

#content {
    clear: both;
}

footer {
    width:100%;
    height:30px;
    position:absolute;
    bottom:0;
    left:0;
    padding-top: 10px;
    text-align: center;
    border-color: #aaa;
    border-top: 1px solid;
    border-top-style: solid;
}