{:lein
 true

 :nrepl
 {:port 7002}

 :builds
 {:app  {:target        :browser
         :output-dir    "target/cljsbuild/public/js/out"
         :asset-path    "/js/out"
         :modules       {:app
                         {:entries [<<project-ns>>.app]}}
         :optimizations :none
         :devtools      {:watch-dir "resources/public"
                         :preloads  [devtools.preload]
                         :after-load <<project-ns>>.core/mount-components}}

  :test {:target    :browser-test
         :test-dir  "target/test.js"
         :runner-ns <<project-ns>>.doo-runner}

  :min  {:target           :browser
         :output-dir       "target/cljsbuild/public/js"
         :asset-path       "/js"
         :optimizations    :advanced
         :modules          {:app
                            {:entries [<<project-ns>>.app]}}
         :compiler-options {:closure-warnings {:global-this :off}
                            :infer-externs    :auto}}}}