;; WARNING
;; The dev-config.edn file is used for local environment variables, such as database credentials.
;; This file is listed in .gitignore and will be excluded from version control by Git.

{<% if database-profile-dev %><<database-profile-dev>><% endif %>}
