;; WARNING
;; The test-config.edn file is used for local environment variables, such as database credentials.
;; This file is listed in .gitignore and will be excluded from version control by Git.

{:port 3000
 <% if async %>:async? true
 <% endif %><% if database-profile-dev %><<database-profile-test>><% endif %>}
